.my-font {
  font-family: cursive;
}
.controller {
  margin: 0 auto;
  width: 440px;
  padding: 1rem;
}

.bonus {
  width: 440px;
  margin: 0 auto;
  margin-top: 1.5rem;
  height: 18rem;
}

.small-input {
  width: 4rem;
  margin-left: 1rem;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: lightblue;
  color: black;
  text-align: center;
}
