<div class="controller">
  <h2 class="my-font">Fahed's solution to Yanport's Front end Test</h2>
  <ul class="my-font">

    <li>
      <p>Dimensions </p>
      <mat-form-field class="small-input">
        <mat-label>Width</mat-label>
        <input (focusout)="toggleKeyboardControls()" (focus)="toggleKeyboardControls()"
          (input)="handleWidthChange(width)" #width autocomplete="off" [value]="dim.w" matInput>
      </mat-form-field>
      <mat-form-field class="small-input">
        <mat-label>Height</mat-label>
        <input (focusout)="toggleKeyboardControls()" (focus)="toggleKeyboardControls()"
          (input)="handleHeightChange(height)" #height autocomplete="off" [value]="dim.h" matInput>
      </mat-form-field>
      <button (click)="applyDim(width,height)" style="height: 2rem; margin-left:1rem; margin-top:1rem" mat-raised-button
        color="primary">Apply</button>
    </li>
    <li>
      <p>Coordinates: </p>
      <mat-form-field class="small-input">
        <mat-label>X</mat-label>
        <input (focusout)="toggleKeyboardControls()" (focus)="toggleKeyboardControls()" (input)="handleXCooChange(xCoo)"
          #xCoo autocomplete="off" [value]="this.currentCoordinates.x" matInput>
      </mat-form-field>
      <mat-form-field class="small-input">
        <mat-label>Y</mat-label>
        <input (focusout)="toggleKeyboardControls()" (focus)="toggleKeyboardControls()" (input)="handleYCooChange(yCoo)"
          #yCoo autocomplete="off" [value]="this.currentCoordinates.y" matInput>
      </mat-form-field>


      <mat-form-field class="small-input">
        <mat-label>Direction</mat-label>
        <mat-select #dir [value]="this.currentCoordinates.d" (focusout)="toggleKeyboardControls()"
          (focus)="toggleKeyboardControls()">
          <mat-option value="N">N</mat-option>
          <mat-option value="E">E</mat-option>
          <mat-option value="S">S</mat-option>
          <mat-option value="W">W</mat-option>
        </mat-select>
      </mat-form-field>
      <button (click)="applyCoo(xCoo,yCoo,dir)" style="height: 2rem; margin-left:1rem; margin-top:1rem"
        mat-raised-button color="primary">Apply</button>
    </li>
    <li>Enter a series of commands:</li>
    <mat-form-field style="margin-left: 1rem;">
      <mat-label>Series Of Commands</mat-label>
      <input (input)="handleCommands(commands)" (focusout)="toggleKeyboardControls()" (focus)="toggleKeyboardControls()"
        placeholder="Ex: DADADADAA" #commands autocomplete="off" matInput>
    </mat-form-field>
    <button (click)="executeCommand(commands)" style="height: 2rem; margin-left:1rem; margin-top:1rem" mat-raised-button
      color="primary">Execute</button>

  </ul>

  <hr>

  <h1 class="my-font">Information:</h1>
  <ul class="my-font">
    <li>
      Current dimensions: <b>{{dim.w+"*"+dim.h}}</b>
    </li>
    <li class="my-font">
      Current position:
      <b>{{"{"+currentCoordinates.x+","+currentCoordinates.y+"} Direction: "+currentCoordinates.d}}</b>
    </li>
  </ul>
</div>
<app-piece (errorMessageEvent)="displaySnackBar($event)" (newCoordinatesEvent)="getCoordinates($event)" [dim]="dim"
  [coordinates]="currentCoordinates" [preventing]="preventing" [commands]="commandsC">
</app-piece>
<div class="bonus">
  <h1 class="my-font">Bonus:</h1>

  <ul>
    <li>Press 'a' to advance in the arrow direction</li>
    <li>Press 'g' switch direction 90° to the left</li>
    <li>Press 'd' switch direction 90° to the right</li>
    <li>
      <p class="my-font">To Randomize dimensions please <button mat-raised-button color="primary" style="height: 2rem;"
          (click)="randomizeDim()">Click Here</button>
    </li>
    <li>the vaccum cannot go beyond limits, I show a snackbar message when you try to go over the width or height</li>
  </ul>

</div>

<div class="footer">
  <h2 class="my-font" style="font-weight: bold;">I enjoyed this test, I cannot wait for more</h2>
</div>